langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain_huggingface
langchain-groq
faiss-cpu
bs4
ipykernel
chromadb
langchain_chroma
langchain-text-splitters
pymupdf
wikipedia
pypdf
arxiv
pandas
duckdb
sentence-transformers
pipwin
pyaudio